h1, h2, h3, h4 {
  text-align: center;
}

button {
  width: 8rem;
  height: 2.5rem;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

td, th, {
  vertical-align: middle;
  text-align: center;
}
